# Credenciales / llaves de Google Cloud
datapath-kevin-inofuente-*.json
*-service-account*.json
gcp-key.json
*.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Archivos temporales
.DS_Store
.ipynb_checkpoints/
*.log

# VS Code / Cursor
.vscode/
